@import "../../../../brand-colours"
@import "../../../../fonts"

.calendar-modal--wrapper
  position: relative
  display: flex
  align-items: center
  justify-content: center
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  .calendar-modal--overlay
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 1
    cursor: pointer
  .calendar-modal--display
    border: 1px solid $brand-blue-400
    position: absolute
    width: 420px
    height: 380px
    background-color: white
    z-index: 2
    animation-duration: 0.5s
    animation-name: slidein
    margin-bottom: 60px

    &--current-month
      margin: 16px 0
      text-align: center
    &.close
      animation-duration: 0.5s
      animation-name: slideout
  .calendar-modal--display-grid
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-template-rows: repeat(5, 1fr)
    column-gap: 0
    padding: 8px
    &--header
      display: flex
      width: 50px
      height: 10px
      margin: 8px 0
      padding: 0 8px
      &-col
        border: 2px solid transparent
        display: flex
        min-width: 46px
        justify-content: center
        margin-right: 8px
        span
          display: block

    &--weekday
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid $support-orange-500
      color: $support-orange-500
      height: 42px
      width: 42px
      margin: 2px 1px
      &:hover
        border-color: $brand-blue-300
        color: $brand-blue-300
      &.delivery-day
        background-color: $support-orange-500
        color: $grey-200
      &.choosen-day
        border: 1px solid $brand-blue-400
        background-color: $brand-blue-400
        color: $grey-300
  .calendar-modal--controls
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    span
      display: block
    &-cancel, &-confirm
      cursor: pointer
      display: flex
      flex-direction: column
      text-align: center
      justify-content: center
      width: 120px
      padding: 6px
      height: 30px
      margin: 4px

    &-cancel
      color: $grey-500
      &.active
        -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
        -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
        box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
        outline: none
    &-confirm
      color: $support-orange-500
      border: 1px solid $support-orange-500
      -webkit-box-shadow: 5px 2px 8px 0px rgba(0,0,0,0.5)
      box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.5)
      &.active
        -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
        -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
        box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
        outline: none

@keyframes slidein
  from
    margin-top: 300%
  to
    margin-top: 0%

@keyframes slideout
  from
    margin-top: 0%
  to
    margin-top: 800%
