@import "../../../../brand-colours"
@import "../../../../fonts"

.calendar--delivery-date--wrapper
  overflow: hidden
  display: flex
  height: 42px
  padding: 8px
  border-radius: 4px
  width: 90%
  -webkit-box-shadow: 5px 2px 8px 0px rgba(0,0,0,0.5)
  box-shadow: 5px 2px 8px 0px rgba(0,0,0,0.5)
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  .calendar--delivery-date--delivery-date
    display: flex
    flex-direction: column
    padding: 4px
    width: 70%
    .delivery-date
      font-family: $font-family-base-regular
      margin-bottom: 6px
    .delivery-date-label
      width: 100%
      display: flex
      height: 50%
      .calendar--delivery-date--icon-van
        height: 12px
        margin-right: 4px
      .calendar--delivery-date--icon-text
        height: 16px
        padding: 1px
        font-size: 10px
        background-color: #e9f8e6
        span
          display: block
          margin-top: 2px

  .calendar--delivery-date--change-date
    position: relative
    width: 30%
    cursor: pointer
    .calendar--delivery-date--icon-cal
      position: absolute
      background-color: transparent
      height: 28px
      left: 25px
      top: -2px
      z-index: 1
    .calendar--delivery-date--day
      position: absolute
      top: 10px
      font-size: 14px
      z-index: 1
    .calendar--delivery-date--bar
      position: absolute
      height: 4px
      right: 4px
      bottom: -7px
      z-index: 1
    .calendar--delivery-date--chevron-right
      position: absolute
      height: 14px
      right: -4px
      bottom: -2px
      z-index: 1
    .calendar--delivery-date--cutpiece
      height: 60px
      position: absolute
      left: -10px
      top: -10px
    .calendar--delivery-date--text
      position: absolute
      left: 10px
      top: 28px
      z-index: 2
