@import "../../brand-colours"
@import "../../fonts"

.calendar--wrapper
  position: relative
  background-color: $grey-100
  padding: 8px
  padding-bottom: 4px
  width: 260px
  height: 159px
  .disclaimers
    &--title
      font-family: $font-family-headings
      color: $brand-blue-600
      font-size: 24px
      line-height: 38px
    &--message
      padding: 6px
      position: absolute
      color: $brand-blue-400
      font-size: 12px
      top: 50px
      left: 64px
      background-color: $grey-200
      border-radius: 3px
  .calendar--button
    width: 100%
    margin-top: 18px
    display: flex
    align-items: center
    justify-content: center
