@import "./brand-colours"
@import "./fonts"

body
  font-family: $font-family-base-mono
  color: $brand-blue-500
  display: flex
  justify-content: center
  align-items: center
  padding: 5rem
  overflow: hidden
